img[src*="catalog/loosegallery/logo.png"] {
    background-color: #000;
}

.swal-modal.loosegallery_temp_terms_and_conditions_modal {
    text-align: left;
}

.c-pointer {
    cursor: pointer;
}

.loosegallery_terms_and_condtions.c-pointer {
    text-decoration: underline;
}

.loosegallery_bg_green {
    background-color: #42cf00;
}

#button-loosegallery, #button-loosegallery:active, #button-loosegallery:hover {
    background-color: #42cf00 !important;
    border-color: #42cf00 !important;
    box-shadow: none;
}

.loosegallery_bg_blue {
    background-color: #00A8EC;
}

.loosegallery_product_modal_main {
    padding-top: 20px;
}

.loosegallery_modal_close_icon {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 1px solid lightgrey;
}

.button_loosegallery_edit_option_url,
.button_loosegallery_edit_url {
    color: #fff;
    width: 102px;
    padding: 6px 8px;
    font-weight: bold;
    font-size: 13px;
}

.checkout-cart table td small {
    white-space: nowrap;
}

.loosegallery_product_modal_main .btn-success:hover,
.loosegallery_product_modal_main .btn-success:focus,
.loosegallery_product_modal_main .btn-success:active,
.loosegallery_product_modal_main .btn-success.active,
.loosegallery_product_modal_main .open .dropdown-toggle.btn-success {
    background-color: #47a447 !important;
    border-color: #398439 !important;
}

#table-loosegallery_custom_option {
    margin-top: 5px;
}